@mixin btn-4-grid {
    flex-wrap: wrap;

    .redesign-btn {
        flex-basis: calc(50% - 50px);
        margin: 15px 0;
    }
}

@mixin btn-single-col {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;

    .redesign-btn {
        margin: 1rem auto;
    }
}