#techpagecontents {
    p {
        line-height: 1.6rem;
        font-size: 1rem;
        color: #000;
    }

    h2 {
        font-size: 1.35rem;
        font-weight: 600;
        line-height: 2rem;
        color: $blue;
        margin-bottom: 1.5rem;
    }

    h3 {
        font-size: 1.18rem;
        line-height: 1.8rem;
        font-weight: 600;
        color: $green;
    }

    h4 {
        font-weight: 600;
        line-height: 1.65rem;
    }

    .page-content-container {
        width: $fullPage;
        font-family: $openSans;

        a {
            text-decoration: none;
            color: $linkBlue;
            font-weight: 600;
            line-height: 1.6rem;
            font-size: 1rem;

            &:hover {
                color: $linkBlueHover;
                text-decoration: underline;
            }
        }
    
        ul {
            list-style-type: none;
    
            li {
                margin-top: 1rem;
                line-height: 1.6rem;
                font-size: 1rem;
            }
        
            li::before {
                font-family: "Font Awesome 5 Pro";
                display: inline-block;
                content: "\f3c5";
                transform: rotate(-90deg);
                margin-left: -20px;
                margin-right: 8px;
                font-size: .95rem;
                color: $orange;
                font-weight: 600;
            }
        }
    
        ol {
            li {
                margin-top: 1rem;
                line-height: 1.6rem;
                font-size: 1rem;
            }
        }
    
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
    
        figure {
            margin: 0 auto;
            margin-bottom: 2rem;
            border: 1px solid #ccc;
    
            img {
                display: block;
                margin: 0 auto;
            }
    
            figcaption {
                padding: 6px;
                color: #222;
            }
        }
    
    }
}

.redesign-btn-container {
    .fad,
	.fas,
	.far,
	.fal {
		margin-right: 10px;
	}
}

.box-note {
    border: 2px solid $green;
    padding: 12px;
    margin: 1rem 0;

    p {
        margin: 0;
        padding: 0;
    }
}

#to-top {
    background: $orange;
    border: 3px solid $orange;
    color: #fff;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 1rem;
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: auto;
    opacity: 0;
    transition: opacity .15s;

    i {
        font-size: 1.3rem;
        margin-right: 5px;
    }

    &:hover {
        background: #fff;
        color: $orange;
        text-decoration: none;
    }

    // Adding shadow
    box-shadow: 1px 0 3px #fff,
                -1px 0 3px #fff,
                0 1px 3px #fff,
                0 -1px 3px #fff;

    z-index: 10000;
}

html {
    scroll-behavior: smooth;
}